<ul class="post-list">
  <% site.posts.sort('date', -1).each(function(post) { %>
    <li class="post-list-item">
      <%- partial('_partial/post-meta', { post: post }) %>
      <a class="post-list-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
    </li>
  <% }) %>
</ul>
